body {
  background: black;

}

.main-bg {
  border-radius: 5px;
  width: 1200px;
  height: 680px;
}

.castle-game-container{
  color:white;
  position: fixed;
  top: 190px;
  left: 60px;
  width: 1100px;
  height: 500px;
  z-index: 10px;
}

.castle-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 130px;
  font-size:15px;
}

.castle-heading div {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(177, 9, 37);
}

.castle-life {
  display: flex;
}

.castle-board{
  padding-left: 18px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 10px;
}

.room {
  width: 200px;
  height: 143px;
  background-color: rgb(44, 1, 1);
  opacity: 90%;
  border-radius: 5px;
  margin:0px;
}

.door-face{
  margin:0px;
  display:flex;
  justify-content: center;
}

.door-img{
  width: 200px;
  height: 145px;
  border-radius: 10px;
}

/////////////////////////////////////

.canvas-success{
  width: 24%;
  position: absolute;
  top: 350px;
  left: 600px;
  transform: translate(-50%, -50%);
  z-index:25;
  font-size: 18px;
  padding: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(241, 237, 234);
  border-radius: 3px;
  background-color: rgb(129, 201, 129);
  display: none;
}

.canvas-success > div {
  text-align: center;
}

.canvas-fail{
  width: 24%;
  position: absolute;
  top: 350px;
  left: 620px;
  transform: translate(-50%, -50%);
  z-index:25;
  font-size: 18px;
  padding: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(253, 251, 250);
  border-radius: 3px;
  background-color: rgb(226, 158, 170);
  display: none;
}

.canvas-fail > div {
  text-align: center;
}

.canvas-container {
  position: absolute;
  top: 380px;
  left: 620px;
  transform: translate(-50%, -50%);
}

.canvas-message-container{
  width: 290px;
  height: 60px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(241, 237, 234);
  border-radius: 5px;
  background-color: rgb(5, 75, 92);
  text-align: center;
}

.canvas-mini-game{
  border-radius: 5px;
}




